.Logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 485px;
  height: 140px;
  z-index: 2;
}

.Logo div:first-child {
  height: 70px;
  padding: 1rem 2rem;
  background-color: #f2f2f2;
}

.Logo div:last-child {
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  color: #f2f2f2;
  padding: 1rem 2rem;
}

.Logo div:last-child p {
  font-weight: bolder;
  padding: 0.25rem 0.5rem;
  color: #f2f2f2;
  background-color: #c43535;
  font-size: 1.25rem;
  position: absolute;
  top: 0rem;
  left: 5rem;
}
