.Logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 485px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #80ddff;
  padding: 20px;
  box-sizing: border-box;
}

.LogoImg {
  border: none;
  width: 200px;
}
