.Report {
  margin-top: 1rem;
  display: grid;
  grid-template-areas:
    "header header header "
    "confirmed confirmed confirmed"
    " recovered critical deaths ";
  border-bottom: 1px solid #cccccc;
}

.Report:last-child {
  border: none;
}

.Report div {
  padding: 0.25rem;
}

.Report div:first-child {
  color: red;
  grid-area: header;
  text-transform: capitalize;
}

.Report div:nth-child(n + 2) {
  font-size: 0.75rem;
}
.Report div:nth-child(2) {
  grid-area: confirmed;
}
.Report div:nth-child(3) {
  grid-area: recovered;
}
.Report div:nth-child(4) {
  grid-area: critical;
}
.Report div:nth-child(5) {
  grid-area: deaths;
}
