.Report {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #cccccc;
  padding: 1rem 0;
}

.Report:last-child {
  border: none;
}

.Report p:last-child {
  color: #cccccc;
  font-weight: bold;
}

.Report p:first-child {
  text-align: center;
  font-weight: bold;
}

.Report div:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}
