.Filter {
  width: 100%;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Filter a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.Filter a span {
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 4px;
  width: 50%;
  background-color: transparent;
  transition: all 0.4s ease-in;
  opacity: 0;
}

.Filter a:hover span {
  width: 100%;
  opacity: 1;
  background-color: #c43535;
}

.Filter a.active {
  font-weight: bolder;
}

.Filter a.active span {
  opacity: 1;
  background-color: #c43535;
}
