.Filter {
  width: 100%;
  margin: 170px auto 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Filter div {
  font-size: 1.25rem;
  padding: 10px;
  text-align: center;
}

.Filter div {
  position: relative;
  z-index: 1;
}

.Filter div::after {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0;
  height: 4px;
  width: 50%;
  background-color: transparent;
  transition: all 0.4s ease-in;
  opacity: 0;
}

.Filter div:hover::after {
  width: 100%;
  opacity: 1;
  background-color: #c43535;
}

.Filter div[data-active="true"] {
  font-weight: bolder;
}

.Filter div[data-active="true"]::after {
  opacity: 1;
  background-color: #c43535;
}
