.OverallReport {
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
}

.OverallReport > span {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  background-color: #c43535;
  color: #f2f2f2;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.OverallReport div {
  padding: 1rem 0;
}

.OverallReport div span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}

.OverallReport div:nth-child(2) span {
  color: #7235c2;
}

.OverallReport div:nth-child(3) span {
  color: #00caca;
}

.OverallReport div:last-child span {
  color: #c43535;
}

.OverallReport div p {
  font-weight: bold;
  font-size: 0.75rem;
  color: #cccccc;
}

.OverallReport > div > span:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  color: #000000;
}
