.Article {
  display: grid;
  grid-template-areas:
    "img img title title "
    "img img time time"
    "img img des des";
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-bottom: 1px solid #cccccc;
}

.Article:last-child {
  border: none;
}

.Article a {
  grid-area: title;
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* font-size: ; */
}

.Article p {
  grid-area: des;
  max-height: 50px;
  overflow-y: auto;
  font-size: 0.75rem;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  /* background: transparent; Optional: just make scrollbar invisible */
}
.Article img {
  max-width: 150px;
  max-width: 150px;
  padding-right: 0.5rem;
  grid-area: img;
}

.Article span {
  grid-area: time;
  font-size: 0.5rem;
  color: #cccccc;
}
