.HighLight {
  position: relative;
}

.HighLight img {
  width: 100%;
  margin-top: 1rem;
}

.HighLight span:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 10px;
}

.HighLight a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.HighLight span {
  display: block;
  font-size: 0.5rem;
  color: #cccccc;
}

.HighLight p {
  margin: 1rem 0;
  max-height: 100px;
  overflow: auto;
}
