.Menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 485px;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ffffff;
  box-sizing: border-box;
}

.Menu div {
  padding: 19px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.Menu div .NavLink {
  text-decoration: none;
  cursor: none;
  color: #000000;
}

.Menu div:hover .NavLink {
  color: #c43535;
}

.Menu div span {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  z-index: -1;
  background-color: #c43535;
  transition: all 0.25s ease-in-out;
}

.Menu div:hover span {
  height: 5px;
}

.Menu div a.active {
  height: 5px;
  color: #cccccc;
}
